* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    color: white;
    font-family: sans-serif;
    font-size: 17px;
}

nav {
    align-items: center;
    background-color: rgb(58, 58, 134);
    /* color: white; */
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
    vertical-align: baseline;
    max-width: 100%;
}

nav a {
    text-decoration: none;
}

nav a:visited {
    color: white;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

h1, h2, h3, site-title {
    font-weight: bold;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1rem;
}

.site-title {
    font-size: 1.25rem;
}

.bg {
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}